.tituloHomePage{
    color: rgb(47, 88, 55); 
    text-align: center;
    padding-top: 2.4%;
}
.cabecalho {
    background: #29b71c;
    padding: 1.5rem;
    text-align: right;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.link {
    text-decoration: none;
    color: white;
    background-color: #13840f;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    font-size: 1.5rem;
    margin-right: 1.5rem;
}
.link:first-of-type {
    margin-left: 0; 
}

.link:hover {
    background-color: rgb(28, 90, 134);
}